@import '../node_modules/normalize.css/normalize.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color-main);
  --transition: all 0.3s ease-in-out;
  --bg-color-main: #f3f5fa;
  --white: #ffffff;
  --bg-slider-card: #eaedf1;
  --primary-color: #173d33;
  --light-green: #97d28b;
  --pale-green: #dcefd8;
  --error: #d28b8b;
  --placeholder: #bdbdbd;
  --white-25-opacity: rgba(255, 255, 255, 0.25);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 120px;
}

*:focus {
  outline: 2px solid var(--light-green);
}

/* ===================== RESET STYLE ==================== */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===================== FONTS ==================== */

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Regular'), local('Fira-Sans-Regular'),
    /* url('./assets/fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/FiraSans/FiraSans-Regular.woff') format('woff'), */
      url('./assets/fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Light';
  src: local('Fira Sans Light'), local('Fira-Sans-Light'),
    /* url('./assets/fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
    url('./assets/fonts/FiraSans/FiraSans-Light.woff') format('woff'), */
      url('./assets/fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald Regular';
  src: local('Oswald Regular'), local('Oswald-Regular'),
    /* url('./assets/fonts/Oswald/Oswald-Regular.woff2') format('woff2'),
    url('./assets/fonts/Oswald/Oswald-Regular.woff') format('woff'), */
      url('./assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald Bold';
  src: local('Oswald Bold'), local('Oswald-Bold'),
    /* url('./assets/fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
    url('./assets/fonts/Oswald/Oswald-Bold.woff') format('woff'), */
      url('./assets/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saygon';
  src: local('CA Saygon Text Regular'), local('CA-Saygon-Text-Regular'),
    /* url('./assets/fonts/Saygon/CASaygonText-Regular.woff2') format('woff2'),
    url('./assets/fonts/Saygon/CASaygonText-Regular.woff') format('woff'), */
      url('./assets/fonts/Saygon/CASaygonText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fontspring';
  src: local('Fontspring DEMO allroundgothic thick'),
    local('Fontspring-DEMO-allroundgothic-thick'),
    /* url('./assets/fonts/Fontspring/Fontspring-DEMO-allroundgothic-thick.woff')
      format('woff'), */
      url('./assets/fonts/Fontspring/Fontspring-DEMO-allroundgothic-thick.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
